<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>流程部署管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
  <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
	<form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
		<div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">部署ID</label>
		      <div class="layui-input-inline">
		        <input type="text" name="deploymentId"  autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">部署名称</label>
		      <div class="layui-input-inline">
		        <input type="text" name="deploymentName"    autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">开始时间</label>
		      <div class="layui-input-inline">
		        <input type="tel" name="startTime" id="startTime" readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">结束时间</label>
		      <div class="layui-input-inline">
		        <input type="tel" name="endTime"  id="endTime"  readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
		      </div>
		    </div>
		  </div>
		  <div class="layui-form-item">
		      <div class="layui-input-block" style="text-align: center;">
		      	<button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
      			<button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
		      </div>
		  </div>
	</form>
</blockquote>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
	<table class="layui-hide" id="workflowTable" lay-filter="workflowTable"></table>
	<div id="workflowToolBar" style="display: none;">
<!--		<button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>添加流程</button>-->
		<button type="button" lay-event="batchDelete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
	</div>
	
	<div id="workflowRowBar" style="display: none;">
<!--		<button type="button" lay-event="update" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-edit"></span>编辑</button>-->
		<button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
<!--		<button type="button" lay-event="viewSPQuery" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-about"></span>发布</button>-->
		<button type="button" lay-event="viewShow" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-about"></span>查看流程图</button>
	</div>
</div>


<!-- 数据表格结束 -->




<!-- 查看弹出层的开始 -->
<div style="display: none;padding: 5px" id="showworkflowDiv">
	<h2 id="show_title" align="center"></h2>
	<div style="text-align: right;">
		发布人:<span id="show_opername"></span>
		发布时间:<span id="show_createtime"></span>
	</div>
	<hr>
	<div id="show_content"></div>
	
</div>
<!-- 查看弹出层的结束-->


<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
	layui.use(['jquery','form','table','layer','laydate','layedit'],function(){
		var $=layui.jquery;
		var form=layui.form;
		var table=layui.table;
		var layer=layui.layer;
		var laydate=layui.laydate;
		var layedit=layui.layedit;
		//初始化时间选择器
		laydate.render({
			elem:'#startTime',
			type:'datetime'
		});
		laydate.render({
			elem:'#endTime',
			type:'datetime'
		});
        laydate.render({
            elem:'#leavetime',
            type:'date'
        });
		//初始化富文本
		var editIndex = layedit.build('content');
		//加载 数据
		var tableIns=table.render({
			 elem: '#workflowTable'
		    ,url:'/prodeploy/loadAllDeployment'
		    ,toolbar: '#workflowToolBar' //开启头部工具栏，并为其绑定左侧模板
		    ,title: '流程部署数据表'
		    ,height:'full-220'
		    ,page: true
		    ,cols: [ [
		      {type: 'checkbox', fixed: 'left'}
		      ,{field:'id', title:'部署ID',align:'center'}
		      ,{field:'name', title:'部署名称',align:'center'}
		      ,{field:'deploymentTime', title:'部署时间',align:'center'}
		      ,{fixed: 'right', title:'操作', toolbar: '#workflowRowBar',align:'center',width:400}
		    ] ]
		});
		
		//模糊查询
		form.on("submit(doSearch)",function(data){
			tableIns.reload({
				where:data.field,
				page:{
					curr:1
				}
			});
			return false;
		});
		
		//监听工具条的事件
		table.on("toolbar(workflowTable)",function(obj){
			 switch(obj.event){
			    case 'batchDelete':
			     batchDelete();
			    break;
			    case 'add':
			     openAddLayer();
			    break;
			  };
		});
		
		//监听行工具条的事件
		table.on("tool(workflowTable)",function(obj){
			  var data = obj.data; //获得当前行数据
			 switch(obj.event){
			    case 'update':
			   		openUpdateworkflowLayer(data);
			    break;
			    case 'delete':
			   		deleteworkflow(data);
			    break;
			    case 'viewShow':
			   		showworkflow(data);
			    break;
			  };
		});
		
		var mainIndex;
		var url;
		web_status = {
			SUCCESS : "000",
			FAIL : "001",
			NO_LOGIN : "003",
			NO_PRIVILEGE : "004"
		};


		//删除
		function deleteworkflow(data){
			layer.confirm('你确定要删除【'+data.id+'】这条流程部署吗?', {icon: 3, title:'提示'}, function(index){
				$.post("/prodeploy/deleteworkflow",{id:data.id},function(res){
					if(res.code==200){
						tableIns.reload();
					}
					layer.msg(res.msg);
				})	
			   layer.close(index);
			});
		}
		
		//批量删除
		function  batchDelete(){
			//得到选中行
			var checkStatus = table.checkStatus('workflowTable');
			var dataLength=checkStatus.data.length;
			if(dataLength>0){
				layer.confirm('你确定要删除这些流程部署数据吗?', {icon: 3, title:'提示'}, function(index){
						var data=checkStatus.data; //获取选中行的数据
						var ids="";
						$.each(data,function(index,item){
							if(index==0){
								ids+="ids="+item.id;
							}else{
								ids+="&ids="+item.id;
							}
						})
						$.post("/prodeploy/batchDeleteworkflow",ids,function(res){
							if(res.code==200){
								tableIns.reload();
							}
							layer.msg(res.msg);
						})	
					   layer.close(index);
					});
				
			}else{
				layer.msg("请选中操作行")
			}
		}
		
		//弹出查看层
		function showworkflow(data){
			mainIndex=layer.open({
                title:"查看【"+data.name+"】流程图",
                type:2,//0-4 默认为0
                content:"/workflow/toViewProcessImage?deploymentId="+data.id,
                skin:'layui-layer-molv',
                area:['1000px','550px'], //设置宽高
                closeBtn:2,  //可以写1  2  boolean   false=不显示关闭按钮
                shadeClose:true,//点击弹出层之外的位置是否自动关闭
                maxmin:true,//是否显示最大化和最小化的按钮
                resize:true//设置是否允许拉伸
			});
		}
	});
</script>

</body>
</html>