<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页--工作台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote layui-bg-green">
    <div id="nowTime"></div>
</blockquote>
<div style="margin: 0 auto; ">
        <div class="layui-col-lg6 layui-col-md12">
            <blockquote class="layui-elem-quote title">系统公告 <i class="layui-icon layui-red">&#xe667;</i><span
                    style="float: right;"><a href="">更多>></a></span></blockquote>
            <table class="layui-table mag0" lay-skin="line">
                <colgroup>
                    <col>
                    <col width="110">
                </colgroup>
                <tbody class="hot_news"></tbody>
            </table>
        </div>
        <div class="layui-col-lg6 layui-col-md12">
            <blockquote class="layui-elem-quote title">申请任务 <i class="layui-icon layui-red">&#xe63c;</i><span
                    style="float: right;"><a href="/sys/toLeaveBillManager">更多>></a></span></blockquote>
            <table class="layui-table mag0" lay-skin="line" id="applyTable" lay-filter="applyTable">
                <colgroup>
                    <col>
                    <col width="110">
                </colgroup>
                <tbody class="apply_task"></tbody>
            </table>
        </div>
</div>
<div style="margin: 0 auto; ">
    <div style="margin-right:25px;">
        <div class="layui-col-lg6 layui-col-md12">
            <blockquote class="layui-elem-quote title">待办任务 <i class="layui-icon layui-red">&#xe612;</i><span
                    style="float: right;"><a href="/workflow/toTaskManager">更多>></a></span></blockquote>
            <table class="layui-table mag0" lay-skin="line">
                <colgroup>
                    <col>
                    <col width="110">
                </colgroup>
                <tbody class="task_TODO"></tbody>
            </table>
        </div>
    </div>
    <div style="margin-left: 25px;">
        <div class="layui-col-lg6 layui-col-md12">
            <blockquote class="layui-elem-quote title">经办任务 <i class="layui-icon layui-red">&#xe756;</i><span
                    style="float: right;"><a href="/workflow/toRetainTask">更多>></a></span></blockquote>
            <table class="layui-table mag0" lay-skin="line">
                <colgroup>
                    <col>
                    <col width="110">
                </colgroup>
                <tbody class="retain_task"></tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resources/layui/layui.js"></script>

<script type="text/javascript">
    //得到当前的登陆人信息
    var currentUserName = '[[${session.user.name}]]'

    //获取系统时间
    var newDate = '';
    getLangDate();

    //值小于10时，在前面补0
    function dateFilter(date) {
        if (date < 10) {
            return "0" + date;
        }
        return date;
    }

    function getLangDate() {
        var dateObj = new Date(); //表示当前系统时间的Date对象
        var year = dateObj.getFullYear(); //当前系统时间的完整年份值
        var month = dateObj.getMonth() + 1; //当前系统时间的月份值
        var date = dateObj.getDate(); //当前系统时间的月份中的日
        var day = dateObj.getDay(); //当前系统时间中的星期值
        var weeks = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        var week = weeks[day]; //根据星期值，从数组中获取对应的星期字符串
        var hour = dateObj.getHours(); //当前系统时间的小时值
        var minute = dateObj.getMinutes(); //当前系统时间的分钟值
        var second = dateObj.getSeconds(); //当前系统时间的秒钟值
        var timeValue = "" + ((hour >= 12) ? (hour >= 18) ? "晚上" : "下午" : "上午"); //当前时间属于上午、晚上还是下午
        newDate = dateFilter(year) + "年" + dateFilter(month) + "月" + dateFilter(date) + "日 " + " " + dateFilter(hour) + ":" + dateFilter(minute) + ":" + dateFilter(second);
        document.getElementById("nowTime").innerHTML = "亲爱的【" + currentUserName + "】，" + timeValue + "好！ 欢迎使用 后台管理系统。当前时间为： " + newDate + "　" + week;
        setTimeout("getLangDate()", 1000);
    }

    layui.use(['form', 'element', 'layer', 'jquery', 'table'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            element = layui.element;
        $ = layui.jquery;
        //上次登录时间【此处应该从接口获取，实际使用中请自行更换】
        $(".loginTime").html(newDate.split("日")[0] + "日</br>" + newDate.split("日")[1]);
        //icon动画
        $(".panel a").hover(function () {
            $(this).find(".layui-anim").addClass("layui-anim-scaleSpring");
        }, function () {
            $(this).find(".layui-anim").removeClass("layui-anim-scaleSpring");
        })
        $(".panel a").click(function () {
            parent.addTab($(this));
        })
        //最新文章列表
        $.get("/resources/json/newsList.json", function (data) {
            var hotNewsHtml = '';
            for (var i = 0; i < 5; i++) {
                hotNewsHtml += '<tr>'
                    + '<td align="left"><a href="javascript:;"> ' + data.data[i].newsName + '</a></td>'
                    + '<td>' + data.data[i].newsTime.substring(0, 10) + '</td>'
                    + '</tr>';
            }
            $(".hot_news").html(hotNewsHtml);
            $(".userAll span").text(data.length);
        })

        //获取我的申请任务
        $.post("/desk/loadAllApply", function (data) {
            console.log(data);
            var hotNewsHtml = "<tr><td align='left'>请假标题</td>" +
                "<td align='center'>请假时间</td>" +
                "<td align='center'>请假内容</td>" +
                "<td align='center'>状态</td>" +
                "<td align='center'>操作</td></tr>";
            var state;
            var stat;
            var length = data.data.length;
            if (length > 5) {
                length = 5
            }
            for (var i = 0; i < length; i++) {
                // '<td align="center" style="font: red;">'+state+'</td>'
                stat = data.data[i].state;
                if (stat == 0) {
                    state = "<td align='center'style='color: red'>未提交</td>"
                } else if (stat == 1) {
                    state = "<td align='center'style='color: green'>审批中</td>"
                } else if (stat == 2) {
                    state = "<td align='center'style='color: blue'>审批完成</td>"
                } else if (stat == 3) {
                    state = "<td align='center'style='color: grey'>已放弃</td>"
                } else {
                    state = "<td align='center'style='color: darkgoldenrod'>未知状态</td>"
                }
                hotNewsHtml += '<tr>'
                    + '<td align="left"><a href="javascript:;"> ' + data.data[i].title + '</a></td>'
                    + '<td align="center">' + data.data[i].leavetime + '</td>'
                    + '<td align="center">' + data.data[i].content + '</td>'
                    + state
                    // +'<td><a href="/workflow/toViewSPQuery?id='+data.data[i].id+'" class="layui-btn layui-btn-sm layui-btn-danger">查看</a></td>'
                    + '<td align="center"><a href="#" onclick="viewApply(' + data.data[i].id + ')" class="layui-btn layui-btn-sm layui-btn-danger">查看</a></td>'
                    + '</tr>';
            }
            $(".apply_task").html(hotNewsHtml);
        })
        //获取我的待办任务
        $.post("/desk/loadAllTask", function (data) {
            console.log(data);
            var hotNewsHtml = "<tr><td align='left'>待办标题</td>" +
                "<td align='right'>创建时间</td>" +
                "<td align='right'>待办人</td>" +
                "<td align='right' colspan='2' width=\"60\">操作</td></tr>";
            var length = data.data.length;
            if (length > 5) {
                length = 5
            }
            for (var i = 0; i < length; i++) {
                hotNewsHtml += '<tr>'
                    + '<td align="left"><a href="javascript:;"> ' + data.data[i].name + '</a></td>'
                    + '<td align="right">' + data.data[i].createTime + '</td>'
                    + '<td align="right">' + data.data[i].assignee + '</td>'
                    // +'<td><a href="/workflow/toViewSPQuery?id='+data.data[i].id+'" class="layui-btn layui-btn-sm layui-btn-danger">查看</a></td>'
                    + '<td align="right"><a href="#" onclick="doTask(' + data.data[i].id + ')" class="layui-btn layui-btn-sm layui-btn-danger">办理</a></td>'
                    + '<td width="50" align="left"><a href="#" onclick="viewTaskImage(' + data.data[i].id + ')" class="layui-btn layui-btn-sm layui-btn-danger">查看流程图</a></td>'
                    + '</tr>';
            }
            $(".task_TODO").html(hotNewsHtml);
        });
        //获取我的经办任务
        $.post("/desk/loadHistoyTask", function (data) {
            console.log(data);
            var hotNewsHtml = "<tr><td align='left'>经办标题</td>" +
                "<td align='right'>创建时间</td>" +
                "<td align='right'>经办人</td>" ;
            var length = data.data.length;
            if (length > 5) {
                length = 5
            }
            for (var i = 0; i < length; i++) {
                hotNewsHtml += '<tr>'
                    + '<td align="left"><a href="javascript:;"> ' + data.data[i].name + '</a></td>'
                    + '<td align="right">' + data.data[i].createTime + '</td>'
                    + '<td align="right">' + data.data[i].assignee + '</td>'
                    // +'<td><a href="/workflow/toViewSPQuery?id='+data.data[i].id+'" class="layui-btn layui-btn-sm layui-btn-danger">查看</a></td>'
                    + '</tr>';
            }
            $(".retain_task").html(hotNewsHtml);
        });
    })

    function viewApply(id) {
        // alert("1")
        var mainIndex = layer.open({
            title: "审批进度查询",
            type: 2,//0-4 默认为0
            content: '/workflow/toViewSPQuery?id=' + id,
            skin: 'layui-layer-molv',
            area: ['800px', '500px'], //设置宽高
            closeBtn: 2,  //可以写1  2  boolean   false=不显示关闭按钮
            shadeClose: true,//点击弹出层之外的位置是否自动关闭
            maxmin: true,//是否显示最大化和最小化的按钮
            resize: true//设置是否允许拉伸
        });
    }
    //办理任务
    function doTask(id) {
        var mainIndex=layer.open({
            title:"办理任务",
            type:2,//0-4 默认为0
            content:"/workflow/toDoTask?taskId="+id,
            skin:'layui-layer-molv',
            area:['1000px','550px'], //设置宽高
            closeBtn:2,  //可以写1  2  boolean   false=不显示关闭按钮
            shadeClose:true,//点击弹出层之外的位置是否自动关闭
            maxmin:true,//是否显示最大化和最小化的按钮
            resize:true//设置是否允许拉伸
        });
    }
    //查看流程图
    function viewTaskImage(id) {
        var mainIndex=layer.open({
            title:"查看流程图",
            type:2,//0-4 默认为0
            content:"/workflow/toViewProcessByTaskId?taskId="+id,
            skin:'layui-layer-molv',
            area:['1000px','550px'], //设置宽高
            closeBtn:2,  //可以写1  2  boolean   false=不显示关闭按钮
            shadeClose:true,//点击弹出层之外的位置是否自动关闭
            maxmin:true,//是否显示最大化和最小化的按钮
            resize:true//设置是否允许拉伸
        });
    }
</script>
</body>
</html>